body{
    margin-left: 15%;
    margin-right: 15%;
    background-color:lightgrey;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/851/501/292/programming-code-minimalism-wallpaper-preview.jpg");*/
    background-repeat: no-repeat ;
    background-position: auto;
    background-size:cover ;
    background-attachment: fixed;
}   
.container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}
#header{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 42px;
    text-decoration:dotted;
    color:black;
    margin-top: 20px;
    margin-bottom: 40px;
    text-shadow: 0 0 0.51em white, 0 0 0.51em white,0 0 0.91em rgb(34, 13, 172), 0 0 0.51em white;
}
#menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 22px;
}
#menu li{
    display: inline-block;
    margin-left: 20px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    text-decoration:dotted;
    color:lightgrey;
    text-align: right;
}
#menu {
    text-align:right;
}
a {
   
    text-decoration: none;
    
}

#headerCta p {
    font-family: 'Oswald', sans-serif;
    font-style: bold;
    font-weight: 200px;
    font-size: 25px;
    color: whitesmoke;
    text-align: left;
    text-shadow: light 0.1em 0.09em;
}   
#headerCta h1{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 100px;
    font-size: 40px;
    color:white;
    text-align: left;
    text-shadow: black 0.05em 0.05em;
} 
#headerImg img{
    width: 75%;
    border-radius: 50px;
    margin-left: 15%;
}
#buton{
    background: lightgrey;
    border-color: whitesmoke;
    border-style: solid;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 200%;
    font-size: 30px;
    color:black;
    text-align: center;
    padding: 10px 25px 10px 25px;

}
.headerLogo1 img{
    width: 70%;
    text-align: right;
    padding: 20% 20%;
}
.headerLogo2 img{
    width: 50%;
    text-align: right;
    padding: 20% 20%;
}

.headerTexto {
    margin: auto;
    font-family: 'Oswald', 'Sans-serif';
    font-style: normal;
    font-weight: 100px;
    font-size: 30px;
    text-align: left;
    /*background: #BE0026 ;*/
    border-radius: 50px;
    text-align: center;
    padding: 1fr 1fr 1fr 1fr;
    margin-top: 10%;
    margin-bottom: 10%;
    color: aliceblue;
}

#espaco{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 200px;
    font-size: 45px;
    color:aliceblue;
}
h4{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 100px;
    font-size: 20px;
    color:white;
    text-align: left;
    text-shadow: black 0.05em 0.05em;
}
iframe{
    border-style: solid;
    border-color: white;
    background-color: aliceblue;
    padding: 0.5% 0.5%;
}
.voltar{
    width: 10%;
}
i{
    font-size: 15px;
    color: white;
    flex-direction: ;
}
#video{
    text-align: ce;
}
 